@tailwind base;
@tailwind components;



@font-face {
  font-family: "Circular-Pro-Regular";
  src: url(../fonts/CircularPro/lineto-circular-pro-book.woff2);
}

@font-face {
  font-family: "Circular-Pro-Bold";
  src: url(../fonts/CircularPro/lineto-circular-pro-book.ttf);
}

@font-face {
  font-family: "Circular-Pro-Font";
  src: url(../fonts/CircularPro/lineto-circular-pro-book.woff);
}


html,
body {
  font-family: "Circular-Pro-Bold";
  margin: 0;
  padding: 0;
}
.shows {
  display: flex;

}
.success {

  color: #19AC51;

}
.error {
  color: #FC484C;
  padding-top: 1rem;
}
.btn {
  background-color: #4C00C2;
  color: #fff;
  padding: 16px 5vw;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  max-width: 300px; 
  
}

.center-btn {
  display: flex;
  justify-content: center;
}
.btn-disabled {
  background-color: #D3D8E1;
  color: white;
  cursor: not-allowed;
  
}

.card-container {
margin-top: 2rem;
  background-color: #3B058E;
 width: 100%;
 height: 12rem;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
border-radius: 22px;
background-image: url('../assets//images/card-background-shape.svg');
    background-size: cover;
    background-position: center;

}
.card-container.two {
  background-color: #01c9c7; 
  background-image: url('../assets//images/card-background-visa.svg' );
  background-blend-mode: multiply; 
  background-size: cover;
  background-position: center;

 
}



 .logo-container {
  height: 25%;
  width: 90%;
  align-items: center;
margin: 0.8rem 1rem ;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 50%;
  width: 90%;
  margin: 0.8rem 1rem;
 
}
.black {
  color: #444E5D;
  font-weight: 600;
}
.color {
  color:#D3D8E1;
  
}
.font-bold {
  font-weight: bold;
}
.card {
  color: white;
}
.small {
  font-size: 0.7rem;
  font-weight: bold;
}

.card-cont-component {
 height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.absolute.inset-0 {
  position: absolute;
width: 100%;
  top: 0;
  left: 0;
  background-color: #444e5d50;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.info + .info {
  margin-left: 10px; /* Adjust as needed */
}
.info .text-white {
  align-self: center;
}

.shadow {
  border-bottom: 1px solid grey;
  font-family: circular;

}


.heading-container {
  width: 100%;
  height: auto;
  padding: 2rem;
  position: absolute; 
  top: 8rem; 

  background-color: white;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-top: -2.2rem;
  display: flex;
  flex-direction: column;
 
}

.hidden {
  display: none;
}

.heading-container h1 {
  font-size: 1.4rem;
}
.card-list-container {
  margin-bottom: 2rem;
}
.make-form {
  background-color: white;
  width: 100%;
}
.around-form {
  background-color: white;
  width: 100%;
  height: 78vh;
}
.form-container {
  position: absolute; 
  top: 6rem; 
  left: 50%; 
  width: 85%;
  background-color: white;
  transform: translateX(-50%); 
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2; 

  }
.form-box {
  width: 100%;
  height: 80vh;
  padding: 2.2rem;
  background-color: white;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.829);
  z-index: 2;
  margin-top: 1rem;
  display: flex;
  position: absolute;
  flex-direction: column;
 
}

.close-icon {
width: 100%;
height: 3vh;
display: flex;
justify-content: flex-end;
  
}











@tailwind utilities;



