@tailwind base;
@tailwind components;

.btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.btn {
  background-color: #4C00C2;
    color: #fff;
    padding: 16px 110px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.btn:disabled {
  background-color: #D3D8E1;
  color: white;
  cursor: not-allowed;
  font-weight: font-smoothing;
}

.card-container {
margin-top: 2rem;
  background-color: #3B058E;
 width: 98%;
 height: 14rem;
 position: relative;
border-radius: 22px;
background-image: url('../assets//images/card-background-shape.svg');
    background-size: cover;
    background-position: center;

}
.card-container.two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01c9c7; 
  background-image: url('../assets//images/card-background-visa.svg' );

  background-blend-mode: multiply; 
  background-size: cover;
  background-position: center;
  border-radius: 22px;
}


.card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;

}
 .logo-container {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; 
  margin: 2rem;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 80%;
  margin: 2rem;
}


.absolute.inset-0 {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 20vh; 
}


.shadow {
  border-bottom: 1px solid grey;
}


.heading-container {
border-radius: 24px 24px 0 0;
  background-color: white;
display: flex;
justify-content: space-around;
}

.close-icon {
  height: 35px;
  width: 91%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}











@tailwind utilities;



